<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/outline_icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restaurantName %></title>
</head>
<body>
    <div><%= restaurantName %></div>
    <div><%= restaurantPhone %></div>
    <div><%= restaurantAddress %></div>
    <div><%= customerName %> 您好</div>
    <div>您的訂位已取消</div>
    <div><%= diningDate %> <%= dayOfWeek %></div>
    <div><%= diningTime %></div>
    <div><%= adult %> 位大人 <%= child %> 位小孩</div>
</body>
</html>