<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restaurantName %></title>
</head>
<body>
    <div><%= restaurantName %></div>
    <div><%= restaurantPhone %></div>
    <div><%= restaurantAddress %></div>
    <div><%= customerName %> 您好</div>
    <div>以下是您的訂位資訊</div>
    <div><%= diningDate %> <%= dayOfWeek %></div>
    <div><%= diningTime %></div>
    <div><%= adult %> 位大人 <%= child %> 位小孩</div>
    <button><a href="<%= link %>">取消訂位</a></button>
</body>
</html>